<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument enabled="true">
            <files>
                <add value="startseite.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
